/* MOBILE ICON */
$mobileHeaderHeight:60px;

.menubutton {
  position: absolute;
  left:0;
  top:0;
  height:$mobileHeaderHeight;
  width:$mobileHeaderHeight;
  line-height: $mobileHeaderHeight;
  vertical-align: middle;
  font-size: $mobileHeaderHeight / 2;
  cursor: pointer;
	span.title {
		font-size:10px;
		text-align:center;
		width:100%;
		position:absolute;
		display:block;
		bottom:13px;
		line-height:100%;
		text-transform:uppercase;
	}
  .bars {
    position: absolute;
    top: -10px;
    right:0;
    left:0;
    bottom: 0;
    height: 16px;
    margin:auto;
    width: 22px;
    @include transition(.4s all ease-in-out);

    .bar {
      height: 2px;
      position: absolute;
      width: 100%;
      background: $color-secondary;
      @include transform-origin(right);
      @include transition(.4s all ease-in-out);

      &.top {
        top:0;
        .navisopen & {
          @include transform(rotate(50deg) scaleX(0.6) translateY(5px) translateX(9px));
        }
      }

      &.middle {
        top:0;
        bottom:0;
        margin:auto;
      }

      &.bottom {
        bottom:0;
        .navisopen & {
          @include transform(rotate(-50deg) scaleX(0.6) translateY(-5px) translateX(9px));

        }
      }


    }

    .navisopen & {
      @include transform(rotate(180deg));
    }
  }
}
.menubutton {
  display:none;
  @media screen and (max-width:768px){
    display:block;
  }
}

.mobilemenu {
	display:none;
	height:100%;
	position:fixed;
	background:white;
		width:90%;
		overflow-y: scroll;
		top:98px;
		z-index:4;
		padding:0 0 150px;

	ul {
		display:none;
        @include ulReset;
		background:white;
	  	padding:10px 0;
	  	&.children {
		  padding:0 10px;
		}
		li {
			width:100%;
			a {
				padding:5px 20px;
				color: $color-primary-dark;
			 	@extend .semibold;
				display:block;
				width:100%;
				text-transform: uppercase;
				font-size:$fontNormal;
				position:relative;
				font-family:$font-primary;
				&:hover {
					background:$color-secondary-dark;
					color:white;
				}
			}
			ul.sub-menu {
				margin-top:0;

				li {
					padding-left:15%;
					&:hover {
					}
					a {
						font-size:$fontLarge;
						padding:10px 20px;
					}
				}
			}
			&.register, &.order-one, &.pay-online, &.login {
				a {
					background:$color-primary;
					color:white;
					padding:10px 20px;
					margin:5px 0;
					&:hover {
						background:$color-primary-dark;
						color:white;
					}
				}
			}
		}
	}
	

}
/* END MOBILE ICON */

@media only screen and (max-width:768px) {
	.mobilemenu {
		overflow-y:scroll;
		display:block;
			@include transform(translateX(-100%));
    		@include transition(0.4s all ease-in-out);
		ul {
			display:block;
		}
		.navisopen & {
			@include transform(translateX(0));
			}
	
	}

}
