$font-primary: 'Source Sans Pro', sans-serif;
$font-awesome: 'FontAwesome';


.ultrabold {
	font-weight:900;
}   
.bold {
	font-weight:700;
}
.semibold {
  	font-weight:600;
}
.normal {
	font-weight:400;
}
.light {
	font-weight:400;
}
.thin {
  	font-weight:100;
}
 .italic {
	font-style:italic;
}

$pdf: '\f1c1';
$star: '\f005';
$caret-right: '\f0da';