vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 Aug 2015 14:04:52 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|28 Aug 2015 14:04:52 -0000
vti_filesize:IR|790
vti_cachedlinkinfo:VX|S|border-anim-v.gif S|border-anim-h.gif S|border-anim-v.gif S|border-anim-h.gif
vti_cachedsvcrellinks:VX|FSUS|wp-includes/js/imgareaselect/border-anim-v.gif FSUS|wp-includes/js/imgareaselect/border-anim-h.gif FSUS|wp-includes/js/imgareaselect/border-anim-v.gif FSUS|wp-includes/js/imgareaselect/border-anim-h.gif
vti_lineageid:SR|{28A49F36-D6AC-4321-A9C4-A1161EEA297D}
vti_backlinkinfo:VX|
