vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Aug 2016 22:57:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|02 Aug 2016 22:57:24 -0000
vti_filesize:IR|64960
vti_cachedlinkinfo:VX|S|../images/spinner.gif S|../images/stars.png S|../images/stars.png S|../images/spinner.gif S|../images/spinner-2x.gif S|../images/stars-2x.png S|../images/spinner-2x.gif
vti_cachedsvcrellinks:VX|FSUS|wp-admin/images/spinner.gif FSUS|wp-admin/images/stars.png FSUS|wp-admin/images/stars.png FSUS|wp-admin/images/spinner.gif FSUS|wp-admin/images/spinner-2x.gif FSUS|wp-admin/images/stars-2x.png FSUS|wp-admin/images/spinner-2x.gif
vti_lineageid:SR|{36D3215A-2540-40BA-9B47-DC3E7317A7E0}
vti_backlinkinfo:VX|wp-admin/css/wp-admin-rtl.css
