vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Aug 2016 22:57:24 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|02 Aug 2016 22:57:24 -0000
vti_filesize:IR|64949
vti_cachedlinkinfo:VX|S|../images/spinner.gif S|../images/stars.png S|../images/stars.png S|../images/spinner.gif S|../images/spinner-2x.gif S|../images/stars-2x.png S|../images/spinner-2x.gif
vti_cachedsvcrellinks:VX|FSUS|wp-admin/images/spinner.gif FSUS|wp-admin/images/stars.png FSUS|wp-admin/images/stars.png FSUS|wp-admin/images/spinner.gif FSUS|wp-admin/images/spinner-2x.gif FSUS|wp-admin/images/stars-2x.png FSUS|wp-admin/images/spinner-2x.gif
vti_lineageid:SR|{C83F17E1-3E4C-44E5-9BDD-96D364C45EEC}
vti_backlinkinfo:VX|wp-admin/css/wp-admin.css
