vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Aug 2016 22:57:26 -0000
vti_extenderversion:SR|5.0.2.6790
vti_cacheddtm:TX|02 Aug 2016 22:57:26 -0000
vti_filesize:IR|4186
vti_cachedlinkinfo:VX|Q|forms-rtl.css Q|l10n-rtl.css S|../images/w-logo-blue.png S|../images/wordpress-logo.svg
vti_cachedsvcrellinks:VX|FQUS|wp-admin/css/forms-rtl.css FQUS|wp-admin/css/l10n-rtl.css FSUS|wp-admin/images/w-logo-blue.png FSUS|wp-admin/images/wordpress-logo.svg
vti_lineageid:SR|{7A8D010A-0C60-4862-ABAE-8FD5F124D852}
vti_backlinkinfo:VX|
