
$fontXTiny:10px;
$fontTiny:12px;
$fontSmall:14px; 
$fontNormal:16px;
$fontLarge:18px; 
$fontXLarge:20px; 
$fontXXLarge:24px;
$fontXXXLarge:32px;
$fontGiant:42px; 
$fontSuperBig:72px;

$mediaDesktop:1280px;
$mediaSmallDesktop:960px;
$mediaTablet:786px;
$mediaPhone:480px;

$inputPadding: 5px;